
* {
  box-sizing: border-box;
}


body {

  background-color: #58554a;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  color: #C1DDDE;
}

.question{
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  margin: 0 auto;
  background-color: #3F7779;
  font-size: 20px;
  border: 2px solid #284B4C;
  list-style-type: none;
  text-align: center;
  
}

header{
  margin-top: 200px;
font-size: large;
  text-align: center;
  color: #C1DDDE;
}

#message{
  padding: 10px;
  font-size: large;
  text-align: center;
}

.results{
  text-align: center;
  
}


.start-screen {
  
  text-align: center;
  font-size: 15px;
}
 button{
   color: cadetblue;
   border-radius: 30%;
   padding: 15px;
   border: none;
 }
.answers{
  
 padding: 10px;
 font-size: 15px;
 margin-left: 45%;
}

.container
{
    
    display: flex;
    flex-direction: column;
    
    align-items: center;
    height: 80%;
     
}




legend{
  padding: 10px;
  font-size: 15px;
  
}

.submit-answer{

  padding: 5px;
}

.submit-button{

  padding: 5px;
}

.next-button{
  padding: 5px;

}

#score{
  text-align: center;
}


@media (min-width: 768px) {
 

  @media (min-width: 900px) {
    body {

      background-color: #58554a;
      font-family: Verdana, Geneva, Tahoma, sans-serif;
      color: #C1DDDE;
    }
    
    .question{
      display: flex;
      flex-direction: row;
      justify-content: space-around;
      margin: 0 auto;
      background-color: #3F7779;
      font-size: 20px;
      border: 2px solid #284B4C;
      list-style-type: none;
      
    }
    
    header{
      margin-top: 200px;
    font-size: x-large;
      text-align: center;
      color: #C1DDDE;
    }
    
    #message{
    padding-left: 450px; 
      font-size: xx-large;
      
    }
    
    .results{
      text-align: center;
      inset-block-start: right;
    }
    
    
    
    
    
    .start-screen {
      
      text-align: center;
      font-size: 30px;
    }
     button{
       color: cadetblue;
       border-radius: 30%;
       padding: 15px;
       border: none;
     }
    .answers{
      
     padding: 10px;
     font-size: 30px;
     margin-left: 45%;
    }
    
    .container
    {
        
        display: flex;
        flex-direction: row;
        margin: 30px;
        align-items: center;
        height: 100%;
         
    }
    
    legend{
      
      font-size: 40px;
      text-align: center;
    }
    
    .submit-answer{
    
      padding: 5px;
    }
    
    .submit-button{
    
      padding: 5px;
    }
    
    .next-button{
      padding: 5px;
    
    }
    
    #score{
      padding-left: 600px;
    }