/* Your styles should be mobile-first and responsive */

/** 
  * If you are unclear on how to utilize a mobile-first, responsive technique to write your CSS, here is an example: 
  *
  * https://github.com/andreacardybailey/responsive_example/blob/master/styles/responsive-base.css 
  *
*/

body {
  background-color: gray;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.question{
  display: inline-flexbox;
  margin: 0 auto;
  background-color: rgb(214, 208, 208);
  padding: 10px 50px 50px 50px;
  border: 2px solid #cbcbcb;
  list-style-type: none;
  
}

header{
font-size: x-large;
  text-align: center;
  
}


.results{
  text-align: center;
  inset-block-start: right;
}


.start-screen {

  text-align: center;
  font-size: 50px;
}
.multipleChoice{


  
}


legend{
  
  font-size: 40px;
  text-align: center;
}
@media (min-width: 700px) {
  body {
    width: 80%;
    margin: 0 auto;
  }
  .main-nav-list-item {
    float:left;
    width: 25%;
  }
  /*
  * A grid can do this math for you!
  */
  .box {
    width: 47%;
    float: left;
  }

  @media (min-width: 1024px) {
    /*
    * A grid can do this math for you!
    */
    .box {
      width: 29.33%;
      float: left;
      margin-right: 6%;
    }
    /*
     * targeting every third '.box' to add a right margin
     */
    .box:nth-child(3n+3) {
      margin-right: 0;
    }
  }
  
  /*
   * clearfix hack 
   * https://css-tricks.com/snippets/css/clear-fix/
   */
  
  .group:after {
    content: "";
    display: table;
    clear: both;
  } */

} */